extends layout

block content
  div(ng-controller='courseController')
    h1(ng-click='log()') Search Courses
    //- search terms to parse through classes
    div(class='search')
      p
        | Subject: 
        select(ng-model='subj' ng-options='subject as subject for subject in subjects'
               ng-change='getCourseData(subj)')
          //- option(ng-repeat='subject in subjects'
                 value='{{ subject }}') {{ subject }}
      p
        | Course number: 
        input(type='text' ng-model='num')
      p
        | Keywords: 
        input(type='text' ng-model='searchKeyword')
      p
        | Gen Ed Requirements: 
        select(ng-model='genEdReq' ng-change='getGenEdCounts()')
          option(value='') All
          option(ng-repeat='r in genedreqs' value='{{ r }}') {{ r }}
      div(ng-if='genEdCounts')
        p Other subjects with {{ genEdReq }} requirement
        a(href='' ng-repeat='s in genEdCounts' ng-click='getCourseData(s._id.subj)') {{ s._id.subj }} ({{ s.count }}), 
    hr
    //- results from search terms 
    div(class='results')
      div(class='container-fluid')
        div(class='row')
          div(ng-repeat='course in courses | filter : { num: num } | genEdReqFilter : genEdReq | keyword : searchKeyword' class='col-lg-4 col-md-6 course')
            div(class='course-content' ng-hide='course.editing')
              h4 {{ course.title }} 
                a(href='{{ course.url }}') ({{ course.subj }} {{ course.num }})
              br
              p {{ course.desc }}
              p(ng-if='course.offered') #[strong Offered]: {{ course.offered }}
              p(ng-if='course.prereq') #[strong Prerequisites]: {{ course.prereq }}
              p(ng-if='course.genedreq') #[strong Gen Ed Reqs]: {{ course.genedreq }}
            div(class='course-edit' ng-show='course.editing')
              p Title: 
                input(type='text' ng-model='course.title')
              p Subject: 
                input(type='text' ng-model='course.subj')
              p Number: 
                input(type='text' ng-model='course.num')
              p Description: 
                textarea(class='form-control' ng-model='course.desc' rows='5')
              p Offered: 
                input(type='text' ng-model='course.offered')
              p Prereq: 
                input(type='text' ng-model='course.prereq')
              p Gen Ed Req: 
                input(type='text' ng-model='course.genedreq')
            a(ng-hide='course.editing' href='' ng-click='course.editing = true') Edit
            a(ng-show='course.editing' href='' ng-click='saveCourse(course)') Done 
            a(ng-show='course.editing' href='' ng-click='deleteCourse(course)') Delete
            
