extends layout

block content
  div(ng-controller='courseController')
    h1(ng-click='log()') Search Courses
    //- search terms to parse through classes
    div(class='search')
      p
        | Subject: 
        select(ng-model='subj' ng-options='subject as subject for subject in subjects'
               ng-change='getCourseData(subj)')
          //- option(ng-repeat='subject in subjects'
                 value='{{ subject }}') {{ subject }}
      p
        | Course number: 
        input(type='text' ng-model='num')
      p
        | Keywords: 
        input(type='text' ng-model='searchKeyword')
      p
        | Gen Ed Requirements: 
        select(ng-model='genEdReq' ng-change='getGenEdCounts()')
          option(value='') All
          option(ng-repeat='r in genedreqs' value='{{ r }}') {{ r }}
      div(ng-if='genEdCounts')
        p Other subjects with {{ genEdReq }} requirement
        a(href='' ng-repeat='s in genEdCounts' ng-click='getCourseData(s._id.subj)') {{ s._id.subj }} ({{ s.count }}), 
    hr
    //- results from search terms 
    div(class='results')
      div(class='container-fluid')
        div(class='row')
          div(ng-repeat='course in courses | filter : { num: num, genedreq: genEdReq } | keyword : searchKeyword' class='col-lg-4 col-md-6 course')
            h4 {{ course.title }} 
              a(href='{{ course.url }}') ({{ course.subj }} {{ course.num }})
            br
            p {{ course.desc }}
            p #[strong Prerequisites]: {{ course.prereq }}
            p #[strong Gen Ed Reqs]: {{ course.genedreq }}
