extends layout

block content
  div(ng-controller='courseController')
    h1 Search Courses
    div(class='search')
      p
        | Subject: 
        select(ng-model='subj' ng-change='getCourseData(subj)')
          option(ng-repeat='subject in subjects'
                 value='{{ subject }}') {{ subject }}
      p
        | Course number: 
        input(type='text' ng-model='num')
      p
        | Keywords: 
        input(type='text' ng-model='searchKeyword')
    
    div(class='results')
      div(class='container')
        div(class='row')
          div(ng-repeat='course in courses | filter : { num: num } | keyword : searchKeyword' class='col-md-4 course')
            h4 {{ course.title }} ({{ course.subj }} {{ course.num }})
            a(href='{{ course.url }}') Link to ORC page
            br
            p {{ course.desc }}
            p #[strong Prerequisites]: {{ course.prereq }}
            p #[strong Distribs]: {{ course.distribs }}, WC: {{ course.wc }}
  script(src='/javascripts/controllers/course_controller.js')
